@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-sebdy64uYtC_Es: 1440px;
  --plasmic-token-container: var(--token-sebdy64uYtC_Es);
  --token-wRdJGcyEnDS5nX: #ffffff;
  --plasmic-token-white: var(--token-wRdJGcyEnDS5nX);
  --token-DDsTAQcHN9f0LV: 430px;
  --plasmic-token-height: var(--token-DDsTAQcHN9f0LV);
  --token-moj4MRDVPhDSn0: #000000;
  --plasmic-token-black: var(--token-moj4MRDVPhDSn0);
}

.plasmic_default_styles {
  --mixin-2_-Rkp_5LDZcJh_font-family: "Montserrat";
  --mixin-2_-Rkp_5LDZcJh_font-size: 16px;
  --mixin-2_-Rkp_5LDZcJh_font-weight: 400;
  --mixin-2_-Rkp_5LDZcJh_font-style: normal;
  --mixin-2_-Rkp_5LDZcJh_color: #535353;
  --mixin-2_-Rkp_5LDZcJh_text-align: left;
  --mixin-2_-Rkp_5LDZcJh_line-height: 1.7;
  --mixin-2_-Rkp_5LDZcJh_letter-spacing: 0.01em;
  --mixin-2_-Rkp_5LDZcJh_white-space: pre-wrap;
  --mixin-2_-Rkp_5LDZcJh_user-select: text;
  --mixin-2_-Rkp_5LDZcJh_text-decoration-line: none;
  --mixin-2_-Rkp_5LDZcJh_text-overflow: clip;
  --mixin-Xtlu1RzHHAVIPZ_color: var(--token-wRdJGcyEnDS5nX);
  --mixin-Xtlu1RzHHAVIPZ_font-weight: 400;
  --mixin-Xtlu1RzHHAVIPZ_font-size: 80px;
  --mixin-Xtlu1RzHHAVIPZ_line-height: 1.2;
  --mixin-Xtlu1RzHHAVIPZ_letter-spacing: 0px;
  --mixin-Xtlu1RzHHAVIPZ_font-family: "Playfair Display";
  --mixin-A87uWemlFV-ovc_color: #000000;
  --mixin-A87uWemlFV-ovc_font-weight: 500;
  --mixin-A87uWemlFV-ovc_font-size: 50px;
  --mixin-A87uWemlFV-ovc_line-height: 1.1;
  --mixin-A87uWemlFV-ovc_letter-spacing: 0px;
  --mixin-A87uWemlFV-ovc_font-family: "Playfair Display";
  --mixin-L9qWQjiolJj088_color: #3291ff;
  --mixin-s9Seoq1GzdDuEJ_color: #000000;
  --mixin-s9Seoq1GzdDuEJ_font-weight: 600;
  --mixin-s9Seoq1GzdDuEJ_font-size: 24px;
  --mixin-s9Seoq1GzdDuEJ_line-height: 1.2;
  --mixin-s9Seoq1GzdDuEJ_letter-spacing: -0.8px;
  --mixin-s9Seoq1GzdDuEJ_font-family: "Montserrat";
  --mixin-p0lOyjIDDoDoHU_color: #000000;
  --mixin-p0lOyjIDDoDoHU_font-weight: 500;
  --mixin-p0lOyjIDDoDoHU_font-size: 24px;
  --mixin-p0lOyjIDDoDoHU_line-height: 1.3;
  --mixin-p0lOyjIDDoDoHU_letter-spacing: -0.5px;
  --mixin-WCMcfA5VwcBKmA_font-family: "Inconsolata";
  --mixin-WCMcfA5VwcBKmA_padding-top: 1px;
  --mixin-WCMcfA5VwcBKmA_padding-right: 4px;
  --mixin-WCMcfA5VwcBKmA_padding-bottom: 1px;
  --mixin-WCMcfA5VwcBKmA_padding-left: 4px;
  --mixin-WCMcfA5VwcBKmA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WCMcfA5VwcBKmA_border-top-color: #dddddd;
  --mixin-WCMcfA5VwcBKmA_border-top-width: 1px;
  --mixin-WCMcfA5VwcBKmA_border-top-style: solid;
  --mixin-WCMcfA5VwcBKmA_border-right-color: #dddddd;
  --mixin-WCMcfA5VwcBKmA_border-right-width: 1px;
  --mixin-WCMcfA5VwcBKmA_border-right-style: solid;
  --mixin-WCMcfA5VwcBKmA_border-bottom-color: #dddddd;
  --mixin-WCMcfA5VwcBKmA_border-bottom-width: 1px;
  --mixin-WCMcfA5VwcBKmA_border-bottom-style: solid;
  --mixin-WCMcfA5VwcBKmA_border-left-color: #dddddd;
  --mixin-WCMcfA5VwcBKmA_border-left-width: 1px;
  --mixin-WCMcfA5VwcBKmA_border-left-style: solid;
  --mixin-WCMcfA5VwcBKmA_border-top-left-radius: 3px;
  --mixin-WCMcfA5VwcBKmA_border-top-right-radius: 3px;
  --mixin-WCMcfA5VwcBKmA_border-bottom-right-radius: 3px;
  --mixin-WCMcfA5VwcBKmA_border-bottom-left-radius: 3px;
  --mixin-YCfiWTqlRlmQzI_color: #888888;
  --mixin-YCfiWTqlRlmQzI_padding-left: 10px;
  --mixin-YCfiWTqlRlmQzI_border-left-width: 3px;
  --mixin-YCfiWTqlRlmQzI_border-left-style: solid;
  --mixin-YCfiWTqlRlmQzI_border-left-color: #dddddd;
  --mixin--CYVxMpz5QE4pj_padding-top: 3px;
  --mixin--CYVxMpz5QE4pj_padding-right: 6px;
  --mixin--CYVxMpz5QE4pj_padding-bottom: 3px;
  --mixin--CYVxMpz5QE4pj_padding-left: 6px;
  --mixin--CYVxMpz5QE4pj_font-family: "Inconsolata";
  --mixin--CYVxMpz5QE4pj_border-top-left-radius: 3px;
  --mixin--CYVxMpz5QE4pj_border-top-right-radius: 3px;
  --mixin--CYVxMpz5QE4pj_border-bottom-right-radius: 3px;
  --mixin--CYVxMpz5QE4pj_border-bottom-left-radius: 3px;
  --mixin--CYVxMpz5QE4pj_border-top-color: #dddddd;
  --mixin--CYVxMpz5QE4pj_border-top-width: 1px;
  --mixin--CYVxMpz5QE4pj_border-top-style: solid;
  --mixin--CYVxMpz5QE4pj_border-right-color: #dddddd;
  --mixin--CYVxMpz5QE4pj_border-right-width: 1px;
  --mixin--CYVxMpz5QE4pj_border-right-style: solid;
  --mixin--CYVxMpz5QE4pj_border-bottom-color: #dddddd;
  --mixin--CYVxMpz5QE4pj_border-bottom-width: 1px;
  --mixin--CYVxMpz5QE4pj_border-bottom-style: solid;
  --mixin--CYVxMpz5QE4pj_border-left-color: #dddddd;
  --mixin--CYVxMpz5QE4pj_border-left-width: 1px;
  --mixin--CYVxMpz5QE4pj_border-left-style: solid;
  --mixin--CYVxMpz5QE4pj_background: linear-gradient(#f8f8f8, #f8f8f8);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-2_-Rkp_5LDZcJh_font-family);
  font-size: var(--mixin-2_-Rkp_5LDZcJh_font-size);
  font-weight: var(--mixin-2_-Rkp_5LDZcJh_font-weight);
  font-style: var(--mixin-2_-Rkp_5LDZcJh_font-style);
  color: var(--mixin-2_-Rkp_5LDZcJh_color);
  text-align: var(--mixin-2_-Rkp_5LDZcJh_text-align);
  line-height: var(--mixin-2_-Rkp_5LDZcJh_line-height);
  letter-spacing: var(--mixin-2_-Rkp_5LDZcJh_letter-spacing);
  white-space: var(--mixin-2_-Rkp_5LDZcJh_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-Xtlu1RzHHAVIPZ_color);
  font-weight: var(--mixin-Xtlu1RzHHAVIPZ_font-weight);
  font-size: var(--mixin-Xtlu1RzHHAVIPZ_font-size);
  line-height: var(--mixin-Xtlu1RzHHAVIPZ_line-height);
  letter-spacing: var(--mixin-Xtlu1RzHHAVIPZ_letter-spacing);
  font-family: var(--mixin-Xtlu1RzHHAVIPZ_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-A87uWemlFV-ovc_color);
  font-weight: var(--mixin-A87uWemlFV-ovc_font-weight);
  font-size: var(--mixin-A87uWemlFV-ovc_font-size);
  line-height: var(--mixin-A87uWemlFV-ovc_line-height);
  letter-spacing: var(--mixin-A87uWemlFV-ovc_letter-spacing);
  font-family: var(--mixin-A87uWemlFV-ovc_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-L9qWQjiolJj088_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-s9Seoq1GzdDuEJ_color);
  font-weight: var(--mixin-s9Seoq1GzdDuEJ_font-weight);
  font-size: var(--mixin-s9Seoq1GzdDuEJ_font-size);
  line-height: var(--mixin-s9Seoq1GzdDuEJ_line-height);
  letter-spacing: var(--mixin-s9Seoq1GzdDuEJ_letter-spacing);
  font-family: var(--mixin-s9Seoq1GzdDuEJ_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-p0lOyjIDDoDoHU_color);
  font-weight: var(--mixin-p0lOyjIDDoDoHU_font-weight);
  font-size: var(--mixin-p0lOyjIDDoDoHU_font-size);
  line-height: var(--mixin-p0lOyjIDDoDoHU_line-height);
  letter-spacing: var(--mixin-p0lOyjIDDoDoHU_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-WCMcfA5VwcBKmA_font-family);
  background: var(--mixin-WCMcfA5VwcBKmA_background);
  border-radius: var(--mixin-WCMcfA5VwcBKmA_border-top-left-radius)
    var(--mixin-WCMcfA5VwcBKmA_border-top-right-radius)
    var(--mixin-WCMcfA5VwcBKmA_border-bottom-right-radius)
    var(--mixin-WCMcfA5VwcBKmA_border-bottom-left-radius);
  padding: var(--mixin-WCMcfA5VwcBKmA_padding-top)
    var(--mixin-WCMcfA5VwcBKmA_padding-right)
    var(--mixin-WCMcfA5VwcBKmA_padding-bottom)
    var(--mixin-WCMcfA5VwcBKmA_padding-left);
  border-top: var(--mixin-WCMcfA5VwcBKmA_border-top-width)
    var(--mixin-WCMcfA5VwcBKmA_border-top-style)
    var(--mixin-WCMcfA5VwcBKmA_border-top-color);
  border-right: var(--mixin-WCMcfA5VwcBKmA_border-right-width)
    var(--mixin-WCMcfA5VwcBKmA_border-right-style)
    var(--mixin-WCMcfA5VwcBKmA_border-right-color);
  border-bottom: var(--mixin-WCMcfA5VwcBKmA_border-bottom-width)
    var(--mixin-WCMcfA5VwcBKmA_border-bottom-style)
    var(--mixin-WCMcfA5VwcBKmA_border-bottom-color);
  border-left: var(--mixin-WCMcfA5VwcBKmA_border-left-width)
    var(--mixin-WCMcfA5VwcBKmA_border-left-style)
    var(--mixin-WCMcfA5VwcBKmA_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-YCfiWTqlRlmQzI_color);
  padding-left: var(--mixin-YCfiWTqlRlmQzI_padding-left);
  border-left: var(--mixin-YCfiWTqlRlmQzI_border-left-width)
    var(--mixin-YCfiWTqlRlmQzI_border-left-style)
    var(--mixin-YCfiWTqlRlmQzI_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  font-family: var(--mixin--CYVxMpz5QE4pj_font-family);
  background: var(--mixin--CYVxMpz5QE4pj_background);
  border-radius: var(--mixin--CYVxMpz5QE4pj_border-top-left-radius)
    var(--mixin--CYVxMpz5QE4pj_border-top-right-radius)
    var(--mixin--CYVxMpz5QE4pj_border-bottom-right-radius)
    var(--mixin--CYVxMpz5QE4pj_border-bottom-left-radius);
  padding: var(--mixin--CYVxMpz5QE4pj_padding-top)
    var(--mixin--CYVxMpz5QE4pj_padding-right)
    var(--mixin--CYVxMpz5QE4pj_padding-bottom)
    var(--mixin--CYVxMpz5QE4pj_padding-left);
  border-top: var(--mixin--CYVxMpz5QE4pj_border-top-width)
    var(--mixin--CYVxMpz5QE4pj_border-top-style)
    var(--mixin--CYVxMpz5QE4pj_border-top-color);
  border-right: var(--mixin--CYVxMpz5QE4pj_border-right-width)
    var(--mixin--CYVxMpz5QE4pj_border-right-style)
    var(--mixin--CYVxMpz5QE4pj_border-right-color);
  border-bottom: var(--mixin--CYVxMpz5QE4pj_border-bottom-width)
    var(--mixin--CYVxMpz5QE4pj_border-bottom-style)
    var(--mixin--CYVxMpz5QE4pj_border-bottom-color);
  border-left: var(--mixin--CYVxMpz5QE4pj_border-left-width)
    var(--mixin--CYVxMpz5QE4pj_border-left-style)
    var(--mixin--CYVxMpz5QE4pj_border-left-color);
}
