.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-sebdy64uYtC_Es);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9MtFy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9MtFy {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__cw4Ru {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__cw4Ru > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cw4Ru > :global(.__wab_flex-container) > *,
.freeBox__cw4Ru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cw4Ru > :global(.__wab_flex-container) > picture > img,
.freeBox__cw4Ru
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cw4Ru > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cw4Ru > :global(.__wab_flex-container) > *,
  .freeBox__cw4Ru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cw4Ru > :global(.__wab_flex-container) > picture > img,
  .freeBox__cw4Ru
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link___5Yxqj {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___5Yxqj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___5Yxqj > :global(.__wab_flex-container) > *,
.link___5Yxqj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___5Yxqj > :global(.__wab_flex-container) > picture > img,
.link___5Yxqj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__pndxO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__thjbx {
  color: var(--token-moj4MRDVPhDSn0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.svg__ixk2U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__bkiA {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__bkiA > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__bkiA > :global(.__wab_flex-container) > *,
.link__bkiA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bkiA > :global(.__wab_flex-container) > picture > img,
.link__bkiA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uHxGl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__tx01W {
  color: var(--token-moj4MRDVPhDSn0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.svg__wwFEf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column__poKf0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__poKf0 {
    justify-content: center;
    align-items: center;
  }
}
.img {
  object-fit: cover;
  width: 170px;
  height: 100%;
  position: relative;
  filter: none;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__hanJt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__j3CM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j3CM {
    align-items: center;
    justify-content: center;
  }
}
.link__yDdgT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__io1I {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-moj4MRDVPhDSn0);
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.link__cmuJm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__mbSxt {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-moj4MRDVPhDSn0);
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.link__o3Rbj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__yhX0K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-moj4MRDVPhDSn0);
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
